// nav item on hover
@keyframes blink-caret-nav-light {
    from, to { background: transparent }
    50% { background: #c54835 }
}

@keyframes blink-caret-nav-dark {
    from, to { background: transparent }
    50% { background: #fff }
}

// rotating_link component (works section)
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

@keyframes rotateReverse {
	to {
		transform: rotate(-360deg);
	}
}

// theme icon sun/moon in nav
@keyframes wiggle {

    0%,
    10%,
    20%,
    30%,
    40% {
        transform: rotate(0);
    }

    40%,
    60%,
    80% {
        transform: rotate(10deg);
    }

    45%,
    65%,
    85% {
        transform: rotate(-10deg);
    }

    85%,
    100% {
        transform: rotate(0);
    }
}

// theme icon changed
@keyframes drop-entrance {

    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

// welcome header explore button
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	60% {transform: translateY(-5px);}
}

// infinite slide (skills section)
@keyframes slide {
	0% {transform: translateX(0);}
  100% {transform: translateX(calc(-200px * 9))}
}

@keyframes slideMobile {
	0% {transform: translateX(0);}
  100% {transform: translateX(calc(-150px * 9))}
}