.card-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    position: relative;
    padding: 0px 4px;
    margin: 0 0 8px 0;

    &:hover {
        .card-hover-info {
            opacity: 1;
        }
    }

    &-image {
        width: 100%;
        height: 100%;

        img {
            border-radius: 3px;
            width: 100%;
        }
    }

    &-info {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        opacity: 0;
        transition: .5s all ease;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background: #000000b0;
        padding: 0 24px;

        &__description {
            color: #dfdede;
            font-family: 'Roboto Mono';
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 10px 0;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        &__button {
            font-family: 'Roboto Mono';
            margin: 0 auto;
        }

        &__tags, &__year {
            color: #ffffffb5;
            font-family: "Roboto Mono";
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 10px 0 10px auto;
        }

        &__year {
            position: absolute;
            top: 12px;
            right: 12px;
            transform: rotate(-90deg);
            color: #ffffffb5;
            font-family: "Roboto Mono";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
