.contact-container {
    padding-top: 90px;

    .contact-list {
        li {
            margin-bottom: 18px;

            a, span {
                color: #FFF;
                font-family: 'Roboto Mono';
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            a {

            }

            span {

            }
        }
    }
}