.contact-container {
    padding: 60px 0 0 0;

    .contact-list {
        li {
            margin: 0 0 5px 0;
            text-align: center;

            a, span {
                color: #FFF;
                font-family: 'Space Mono';
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            a {
                &:hover {
                    color: #FFF;
                }
            }

            span {

            }
        }
    }
}