footer {
    padding: 8rem 0 0.2rem 0;

    h6 {
        color: #bbb;
        font-family: 'Roboto Mono';
        font-size: .8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
}