.intro-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 4px 0 0;
    margin: 0 0 3rem 0;
    border-bottom: 6px solid #fff;

    @media (min-width: 768px) {
        margin: 0 0 5rem 0;
    }

    &__image {
        max-width: 20%;

        @media (min-width: 1024px) {
            max-width: 30%;
        }
    }

    &__description {
        max-width: 80%;
        width: 100%;

        @media (min-width: 1024px) {
            max-width: 70%;
        }

        h1 {
            color: #FFF;
            text-align: right;
            font-family: 'Poppins';
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1px;

            @media (min-width: 768px) {
                font-size: 40px;
            }

            @media (min-width: 1024px) {
                font-size: 44px;
            }

            @media (min-width: 1440px) {
                font-size: 60px;
            }
        }
    }
} 