.lazyload {
    opacity: 0;
    transition: 1s all ease-in;
    width: 100%;
    position: relative;

    &.loaded {
        opacity: 1;
    }

    .lazy-placeholder{
        position: absolute;
        opacity: 1;
        height: 100%;
        width: 100%;
    }
}