.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
}

.skills-container {

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        margin: 2rem 0 0 0;

        @media (min-width: 768px) {
            margin: 5rem 0 0 0;
        }

        &__item {
            color: #FFF;
            font-family: 'Roboto Mono';
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 1.44px;
            text-transform: lowercase;

            @media (min-width: 768px) {
                font-size: 32px;
            }

            @media (min-width: 1440px) {
                font-size: 44px;
            }

            &::after {
                content: '_';
                color: #7C7C7C;
                width: fit-content;
            }

            &:last-of-type {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.contact-container {

    .section-title {
        @media (min-width: 768px) {
            margin: 0;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        margin: 2rem 0 0 0;

        @media (min-width: 768px) {
            margin: -40px 0 0 auto;
            max-width: 70%;
        }
    
        &__item {
            color: #FFF;
            font-family: 'Roboto Mono';
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 1.44px;
            text-decoration: underline;
            margin: 0 0 1rem 0;

            @media (min-width: 768px) {
                font-size: 24px;
            }
            
            &:first-of-type {
                font-size: 16px;
                font-weight: 600;
                text-decoration: underline;
                text-transform: lowercase;
                margin: 0;
                font-family: 'Poppins';

                @media (min-width: 375px) {
                    font-size: 18px;
                }

                @media (min-width: 430px) {
                    font-size: 22px;
                }

                @media (min-width: 768px) {
                    font-size: 32px;
                }

                @media (min-width: 1024px) {
                    font-size: 40px;
                }

                @media (min-width: 1440px) {
                    font-size: 48px;
                }
            }

            &:nth-of-type(2) {
                font-size: 18px;
                margin: 2rem 0 4rem;
                text-decoration: none;

                @media (min-width: 768px) {
                    font-size: 28px;
                }
            }
        }
    
        &__separator {
            color: #7C7C7C;
            font-family: 'Roboto Mono';
        }

        
    }
}
