$rotationDuration: 20s;
$hoverDuration: 0.3s;

$easeIn: cubic-bezier(0.32, 0, 0.67, 0);
$easeOut: cubic-bezier(0.33, 1, 0.68, 1);

// $textColor: #fff;
// $bgColor: #fff;
// $accentColor: #fff;

.link {
	width: 8rem;
	height: 8rem;
	display: inline-block;
	font: 300 1.3rem/1.4 "Helvetica Neue Medium"; 
	text-transform: uppercase;
	letter-spacing: 0.1175em;
	word-spacing: 0.2em;
	text-decoration: none;
    margin: 0 auto;

	@media (min-width: 768px) {
		width: 12rem;
		height: 12rem;
	}

	&:hover {
		.link__arrow {
			transform: scale(1.1);
			transition: transform $hoverDuration $easeOut;
		}

		.link__text {
			animation-play-state: paused !important;

			@media (max-width: 768px) {
				animation-play-state: running !important;
			}
		}
	}

	&__svg {
		width: 100%;
		height: auto;
		transform-box: fill-box;
		// fill: $textColor;
		// stroke: $textColor;
		stroke-width: 0.09em;
		stroke-linecap: round;
		stroke-linejoin: round;
	}

	&__arrow {
		transform-origin: 50% 50%;
		transition: transform $hoverDuration / 2 $easeIn;
	}
	
	&__arrow {
		stroke-width: 0.075em;
	}

	&__text {
		animation: rotateReverse normal infinite $rotationDuration linear;
		transform-origin: 50% 50%;
        stroke-width: 0.075em;
		animation-play-state: running !important;
	}

	&.disabled {
		cursor: default;
		pointer-events: none;
	}
}