html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    // font-family: $primary-font,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    cursor: crosshair;
}

body {
    background: #000;
}

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
}

figure {
    margin: 0;
}

ol, ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    border: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

::selection {
    background-color: #FF33E9;
    color: #fff;
}

.header-main-container,
.main-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF33E9; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff33eb63; 
  }