html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Mono';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    cursor: crosshair;
}

body {
    background: #fff;
}

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
}

ol, ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    border: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;

    &:hover {
        opacity: .8;
    }
}

::selection {
    background-color: #000;
    color: #fff;
}
 
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #e3b3c3; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #c54835; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c54835cc; 
}

