@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: 'sans-serif';
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("/fonts/Montserrat-Bold.ttf");
    font-weight: bold;
    font-style: 'sans-serif';
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: 'sans-serif';
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url("/fonts/HelveticaNeueLight.otf");
    font-style: 'sans-serif';
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url("/fonts/HelveticaNeueMedium.otf");
    font-style: 'sans-serif';
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url("/fonts/HelveticaNeueThin.otf");
    font-style: 'sans-serif';
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url("/fonts/HelveticaNeueBold.otf");
    font-style: 'sans-serif';
    font-display: swap;
}