.theme-dark {
    background: #000;

    .header-container {
        .navbar {
            .navbar-toggler {
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28250, 250, 250,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
                }
            }
            
            .navbar-collapse {
    
                &.show, &.collapsing {
                    background: black;
                }
    
                .navbar-brand {
                    color: #fff;
                }
                
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: #fff !important;

                            &:hover {
                                &::before {
                                    opacity: 1;
                                    animation: blink-caret-nav-dark .5s step-end infinite;
                                }
                            }
    
                            &::before {
                                background: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .intro-header {
        border-color:#fff;
    
        @media (min-width: 768px) {
            margin: 0 0 5rem 0;
        }
    
        &__intro {
            h1 {
                color: #fff;
            }
        }
    
        &__details {
            .intro-details__cta {
                a {
                    color: #fff;
                    
                    .link__svg {
                        fill: #fff;
                        stroke: #fff;
                    }
                }
            }
    
            .intro-details__description {
                color: #fff;
            }
        }
    } 

    .section-title {
        h1 {
            color: #8D8D8D;
        }
    }

    .skills-container {
        .list {

            &::before, &::after {
                background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
                content: "";
                height: 100%;
                position: absolute;
                width: 50px;
                z-index: 2;
            }

            &__item {
                a {
                    color: #FFF;
                }
                
                &::after {
                    color: #7C7C7C;
                }
            }
        
            &__separator {
                color: #7C7C7C;
            }
        }
    }

    .card-hover {
        &-info {
            &__date {
                color: #b3b3b3;
            }

            &__title {
                color: #fff;
                font-weight: 400;
            }
    
            &__tags {
                color: #939393;
            }
        }
    }    
    
    .contact-container {
        .list {
            &__item {
                a {
                    color: #FFF;
                }
            }
        
            &__separator {
                color: #7C7C7C;
                font-family: 'Roboto Mono';
            }
        }
    }

    .page-404 {
        h1, h2, p {
            color: #fff;
            font-family: "Roboto Mono";
        }
    
        a {
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 0;
            text-transform: uppercase;
            color: #000;
    
            &:hover, &:active, &:focus {
                background-color: #000 !important;
                border-color: #fff !important;
                opacity: .8;
                color: #fff !important;
            }
        }
    }
        
}

.theme-light {
    background: #e3b3c3;

    ::selection {
        background-color: #c54835;
        color: #e3b3c3;
    }

    .header-container {
        .navbar {
            .navbar-toggler {
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
                }
            }

            .navbar-nav {
                border-color: #c54835;

                .nav-item {
                    .nav-link {
                        color: #c54835 !important;

                        &:hover {
                            &::before {
                                opacity: 1;
                                animation: blink-caret-nav-light .5s step-end infinite;
                            }
                        }

                        &::before {
                            background: #c54835;
                        }
                    }
                }
            }
            
            .navbar-collapse {
    
                // &.show, &.collapsing {
                //     background: #fff;
                // }
    
                // .navbar-brand {
                //     color: #000;
                // }
                
                
            }
        }
    }

    .intro-header {
        // border-color:#000;
    
        @media (min-width: 768px) {
            margin: 0 0 5rem 0;
        }
    
        &__intro {
            h1 {
                color: #c54835;
            }
        }
    
        &__details {
            // .intro-details__cta {
            //     a {
            //         color: #000;
                    
            //         .link__svg {
            //             fill: #000;
            //             stroke: #000;
            //         }
            //     }
            // }
    
            .intro-details__description {
                color: #c54835;
            }
        }
    } 

    .section-title {
        h1 {
            // color: #8D8D8D;
            // color: #c54835;
            -webkit-text-stroke: 2px #c54835;
        }
    }

    .skills-container {
        .list {

            &::before, &::after {
                background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
                content: "";
                height: 100%;
                position: absolute;
                width: 50px;
                z-index: 2;
            }

            &__item {
                color: #c54835;
                font-weight: 400;

                a {
                    color: #c54835;
                }
    
                &::after {
                    color: #7C7C7C;
                }
            }
        
            &__separator {
                color: #7C7C7C;
            }
        }
    } 

    .card-hover {
        
        &-info {
            &__date {
                color: #c54835;
            }

            &__title {
                color: #c54835;
                // font-weight: 500;
            }
    
            &__tags {
                color: #c54835;
            }
        }

        &-image {
            &-link {
                background: rgba(197, 72, 53, 1);

                .link {
                    &__svg {
                        fill: #e3b3c3;
                        stroke: #e3b3c3;
                    }
                }
            }
        }

        
    }   
    
    .contact-container {
        .list {
            &__item {
                text-decoration-color: #c54835 !important;
                color: #c54835;
                // font-weight: 400;

                a {
                    color: #c54835;
                }
            }
        
            &__separator {
                color: #7C7C7C;
                font-family: 'Roboto Mono';
            }
        }
    }

    .page-404 {
        h1, h2, p {
            color: #c54835;
            font-family: "Roboto Mono";
        }
    
        a {
            background-color: #000;
            border: 1px solid #fff;
            border-radius: 0;
            text-transform: uppercase;
            color: #fff;
    
            &:hover, &:active, &:focus {
                background-color: #fff !important;
                border-color: #000 !important;
                opacity: .8;
                color: #000 !important;
            }
        }
    }

    footer {
        h6 {
            color: #c54835;
        }
    }
}